﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="LandingPage_Default" %>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Nutriplus Grain Coffee</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://maxcdn.bootstrapcdn.com">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="preconnect" href="https://code.jquery.com/">
    <link rel="preconnect" href="https://cdn.jsdelivr.net/">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/cgs2dgh.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/nutriplusgrain/css/site.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/nutriplusgrain/img/favicon/favicon.png" />
    <link rel="apple-touch-icon" href="/nutriplusgrain/img/favicon/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/nutriplusgrain/img/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/nutriplusgrain/img/favicon/apple-touch-icon-114x114.png" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162929067-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-162929067-2');
    </script>
  </head>

  <body>
    <header id="frmtHead">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <div id="lang-wrapper">
              <ul tabindex="-1">
                <li>
                  <a href="#" class="active">
                    English
                  </a>
                </li>
                <li>
                  <a href="/nutriplusgraines">
                    Español
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-4 text-center">
            <a href="/">
              <img src="/nutriplusgrain/img/blank.png" data-src="/nutriplusgrain/img/farmasi-rednwhite.png" class="lazyload img-fluid"
                alt="Nutriplus Coffee" width="170" height="40">
            </a>
          </div>
          <div class="col-4 text-right">
            <button id="menu-btn" onclick="menuOpen()">
              <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                <path fill="#fff" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </header>
    <div id="menu">
      <button class="close-menu" onclick="menuClose()">
        <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
          <path fill="#fff"
            d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z">
          </path>
        </svg>
      </button>
      <ul id="menuList">
        <li><a href="#section1" class="scroll">Home</a></li>
        <li><a href="#section2" class="scroll">Video</a></li>
        <li><a href="#section3" class="scroll">Features</a></li>
        <li><a href="#section4" class="scroll">Ingredients</a></li>
        <li><a href="#section5" class="scroll">How to Use</a></li>
        <li><a href="#section6" class="scroll">Shop Now</a></li>
      </ul>
    </div>
    <section id="section1" class="jarallax" data-jarallax data-speed="0.5">
      <div class="header">
        <h1 class="text-center">Turning Coffee Skeptics<br>
          into <i>Coffee Lovers!</i></h1>
        <div class="sub-header">
          <p class="h2 text-center">New</p>
          <h2 class="text-center">Nutriplus Coffee<br>
            &amp;<br>
            Grain Blend</h2>
        </div>
      </div>
      <div class="jarallax-img">
          <picture>
            <source media="(max-width: 1023px)" srcset="/nutriplusgrain/img/blank.png" data-srcset="/nutriplusgrain/img/section1-mbl.jpg" class="lazyload">
            <source media="(min-width: 1024px)" srcset="/nutriplusgrain/img/blank.png" data-srcset="/nutriplusgrain/img/section1-dsk.jpg" class="lazyload">
            <img srcset="/nutriplusgrain/img/blank.png" data-src="/nutriplusgrain/img/section1-dsk.jpg" alt="Nutriplus Coffee" class="lazyload">
          </picture>
      </div>
    </section>
    <section id="section2">
      <div class="vid-container">
        <iframe width="560" height="315" data-src="https://www.youtube.com/embed/K1McM0aqffA?rel=0" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen=""></iframe>
      </div>
    </section>
    <section id="section3" class="jarallax">
      <div class="info">
        <h2>
          Coffee & Grain Blend Features <span></span>
        </h2>
        <ul>
          <li>Supports hunger control due to high fiber density</li>
          <li>Supports digestion and regularity</li>
          <li>Helps to keep blood sugar levels under control</li>
          <li>Certified Vegan</li>
          <li>A potent source of vitamins including Vitamins E and B1 </li>
          <li>Contains 40-75mg of Caffeine per cup</li>
          <li>Provides a natural boost of energy</li>
        </ul>
        <div class="footage">
          <p>
            *These statements and product features have not been evaluated by the Food and Drug Administration. Nutriplus
            Coffee and Grain Blend is not intended to be used as a weight loss supplement or to treat or cure any disease.
          </p>
        </div>
      </div>
      <div class="jarallax-img">
          <picture>
            <source media="(max-width: 1023px)" srcset="/nutriplusgrain/img/blank.png" data-srcset="/nutriplusgrain/img/section3-mbl.jpg" class="lazyload">
            <source media="(min-width: 1024px)" srcset="/nutriplusgrain/img/blank.png" data-srcset="/nutriplusgrain/img/section3-dsk.jpg" class="lazyload">
            <img srcset="/nutriplusgrain/img/blank.png" data-src="/nutriplusgrain/img/section3-dsk.jpg" alt="Nutriplus Coffee" class="lazyload">
          </picture>
      </div>
    </section>
    <section id="section4">
      <div id="ingrds">
        <h2>Ingredients: <span></span></h2>
        <div id="info">
          <div class="info-col">
            <img src="/nutriplusgrain/img/blank.png" data-src="/nutriplusgrain/img/instant-coffee.png" alt="Instant Coffee" width="201" height="202"
              class="lazyload">
            <p class="perc">40%</p>
            <p class="ing">Instant Coffee</p>
          </div>
          <div class="info-col">
            <img src="/nutriplusgrain/img/blank.png" data-src="/nutriplusgrain/img/barley-powder.png" alt="Barley Powder" width="201" height="202"
              class="lazyload">
            <p class="perc">30%</p>
            <p class="ing">Barley Powder</p>
          </div>
          <div class="info-col">
            <img src="/nutriplusgrain/img/blank.png" data-src="/nutriplusgrain/img/rye-powder.png" alt="Rye Powder" width="201" height="202"
              class="lazyload">
            <p class="perc">30%</p>
            <p class="ing">Rye Powder</p>
          </div>
        </div>
      </div>
    </section>
    <section id="section5" class="clearfix">
      <div class="text">
        <h2>How to Use:<span></span></h2>
        <ol>
          <li>Put 2 teaspoons of Nutriplus Coffee and Grain Blend into your favorite coffee cup.</li>
          <li>Add 12 ounces of hot water.</li>
          <li>Stir well.</li>
          <li>Add your favorite sweetener, milk or coffee creamer.</li>
          <li>Enjoy!</li>
        </ol>
      </div>
        <picture>
          <source media="(max-width: 1023px)" srcset="/nutriplusgrain/img/blank.png" data-srcset="/nutriplusgrain/img/section5-mbl.jpg" class="lazyload">
          <source media="(min-width: 1024px)" srcset="/nutriplusgrain/img/blank.png" data-srcset="/nutriplusgrain/img/section5-dsk.jpg" class="lazyload">
          <img srcset="/nutriplusgrain/img/blank.png" data-src="/nutriplusgrain/img/section5-dsk.jpg" alt="Nutriplus Coffee" class="lazyload">
        </picture>
    </section>
    <section id="section6" class="jarallax">
      <div class="shop-text">
        <h2>New <span></span></h2>
        <p class="h2">Farmasi Nutriplus Coffee &
          Grain Blend
        </p>
        <p>Coffee makes life better and we’ve got your happiness in a cup. Whether you Rise and Grind or make your
          afternoon all about your brew, Nutriplus Coffee and Grain Blend helps you get the fix you can feel good about.
        </p>
        <div class="cta-container">
          <p class="price">
            <small>$</small>
            <span class="val">22</span>
          </p>
          <p class="price-text">
            RETAIL PRICE
          </p>
          <a href="/product/nutriplus-grain-coffee-3-53-o-z-/13095" class="cta">SHOP NOW</a>
        </div>
      </div>
      <div class="shop-img jarallax-img">
          <picture>
            <source media="(max-width: 1023px)" srcset="/nutriplusgrain/img/blank.png" data-srcset="/nutriplusgrain/img/section6-mbl.jpg" class="lazyload">
            <source media="(min-width: 1024px)" srcset="/nutriplusgrain/img/blank.png" data-srcset="/nutriplusgrain/img/section6-dsk.jpg" class="lazyload">
            <img srcset="/nutriplusgrain/img/blank.png" data-src="/nutriplusgrain/img/section6-dsk.jpg" alt="Nutriplus Coffee" class="lazyload">
          </picture>
      </div>
    </section>
    <footer id="frmFooter">
      <ul>
        <li>
          <a href="https://facebook.com/Farmasi-USA-2234387646887335/" target="_blank">
            <img src="/nutriplusgrain/img/blank.png" data-src="/nutriplusgrain/img/facebook.png" alt="Nutriplus Coffee" class="lazyload">
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/farmasiusa/" target="_blank">
            <img src="/nutriplusgrain/img/blank.png" data-src="/nutriplusgrain/img/instagram.png" alt="Nutriplus Coffee" class="lazyload instagram">
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCa0BWzAqhRML6yG5CRRBhNQ?view_as=subscriber" target="_blank">
            <img src="/nutriplusgrain/img/blank.png" data-src="/nutriplusgrain/img/youtube.png" alt="Nutriplus Coffee" class="lazyload">
          </a>
        </li>
      </ul>
      <p>© 2021 Farmasi</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jarallax/1.12.7/jarallax.min.js"
      integrity="sha512-JpiSiPEgPmeTAnXyH375a9UxAsjoiyO+lpsayQd7Pcl2+tYf4y1beIF25yDMvmAV7dbZUPqh084iT3D6IQOoHg=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/nutriplusgrain/js/core.min.js"></script>
  </body>

  </html>