@import "sass_classes.scss";

.phoneonly {
  display: block;

  @include min-dikeyTablet {
    display: none;
  }
}

.greaterphone {
  display: none;

  @include min-dikeyTablet {
    display: block;
  }
}

/* Adobe Fonts */
h1 {
  font-family: ivypresto-display, serif;
  font-weight: 100;
  font-style : normal;
  position   : relative;
  position   : relative;
  margin     : 0 0 30px;
  line-height: 35.4px;
  @include fontSettings(28px, 400, #fff);

  @include min-yatayTablet {
    font-size  : 42px;
    line-height: 46.4px;
  }

  @include minWidth(1200px) {
    font-size  : 57px;
    line-height: 66.4px;
  }

  @include minWidth(1600px) {
    font-size  : 72px;
    line-height: 86.4px;
  }
}

/* /Adobe Fonts */

@mixin placement($width, $height) {
  padding-top: calc((#{$height} / #{$width}) * 100%);
  position   : relative;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  margin     : 0;
}

p,
li {
  @include fontSettings(14px, 400, #674459);

  @include min-dikeyTablet {
    font-size  : 24px;
    font-weight: 300;
  }

  @include minWidth(1200px) {
    font-size: 38px;
  }

}

* {
  &::selection {
    color     : #fff;
    background: #674459;
  }
}

#frmtHead {
  @include background-gradient(#BD9FB1, rgba(189, 159, 177, 0), vertical);
  padding : 8px 0;
  position: fixed;
  top     : 0;
  left    : 0;
  width   : 100%;
  z-index : 100;
}


#lang-wrapper {
  position: relative;
  height  : 100%;

  ul {
    margin  : 0;
    padding : 0;
    position: absolute;
    top     : 0;
    left    : 0;
    height  : 100%;
    overflow: hidden;
    @include transition(height 350ms ease-in-out);

    &:hover,
    &:focus {
      height: 80px;
    }
  }

  li {
    list-style-type: none;
    padding        : 8px 4px;
    @include fontSettings(12px, 600, #fff);

    @include minWidth(1200px) {
      font-size: 16px;
    }
  }

  a {
    @include fontSettings(12px, 600, #fff);

    @include minWidth(1200px) {
      font-size: 16px;
    }
  }
}

#menu-btn {
  padding-top: 8px;
  display    : inline-block;
  border     : none;
  background : transparent;
  cursor     : pointer;

  &:focus,
  &:active {
    outline: none;
  }
}

#menu {
  position        : fixed;
  top             : 0;
  left            : 0;
  width           : 0;
  height          : 100vh;
  z-index         : 150;
  background-color: #674459;
  display         : flex;
  align-items     : center;
  justify-content : center;
  overflow        : hidden;
  @include transition('');

  &.active {
    width: 100%;
  }

  ul {
    margin: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    font-size  : 24px;
    font-weight: 700;
    color      : #fff;

    @media screen and (min-width: 768px) {
      font-size: 48px;
    }
  }

  .close-menu {
    position  : absolute;
    top       : 20px;
    right     : 20px;
    border    : none;
    background: transparent;
    cursor    : pointer;

    &:focus,
    &:active {
      outline: none;
    }
  }
}

.jarallax-img {
  img {
    width : 100%;
    height: auto;
  }
}

#section1 {
  position: relative;
  @include placement(375, 622);

  @include min-yatayTablet {
    @include placement(1920, 1128);
  }

  .header {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
  }

  .sub-header {
    position: absolute;
    bottom  : 28px;
    left    : 0;
    width   : 100%;

    @include min-yatayTablet {
      left  : calc((50/1920) * 100%);
      bottom: calc((310/1128) * 100%);
      width : auto;
    }

    @include minWidth(1200px) {
      left: calc((125/1920) * 100%);
    }

    @include minWidth(1600px) {
      left: calc((200/1920) * 100%);
    }
  }

  h1 {
    color     : #fff;
    margin-top: 58px;
    z-index   : 10;

    @include min-yatayTablet {
      margin-top: 80px;
    }

    @include minWidth(1200px) {
      margin-top: 105px;
    }

    @include minWidth(1600px) {
      margin-top: 130px;
    }

    &:after {
      background-color: #fff;
    }
  }

  p {
    &.h2 {
      z-index    : 10;
      font-family: ivypresto-display, serif;
      max-width  : 296px;
      margin     : 0 auto 12px;
      height     : 38px;
      line-height: 38px;
      position   : relative;
      font-style : italic;
      @include fontSettings(32px, 400, #674459);

      @include min-yatayTablet {
        max-width: 250px;
        font-size: 42px;
      }

      @include minWidth(1200px) {
        max-width: 325px;
        font-size: 57px;
      }

      @include minWidth(1600px) {
        max-width: 400px;
        font-size: 72px;
      }

      &:before,
      &:after {
        display : block;
        content : "";
        width   : 34.5%;
        height  : 1px;
        position: absolute;
        @include center('vertical');

        @include min-yatayTablet {
          width: 28%;
        }
      }

      &:before {
        left: 0;
        @include background-gradient(rgba(#674459, 0), rgba(#674459, 1), horizontal);
      }

      &:after {
        right: 0;
        @include background-gradient(rgba(#674459, 1), rgba(#674459, 0), horizontal);
      }
    }
  }

  h2 {
    z-index       : 10;
    margin        : 0;
    line-height   : 1;
    text-transform: capitalize;
    @include fontSettings(22px, 500, #674459);

    @include min-yatayTablet {
      font-size: 37px;
    }

    @include minWidth(1200px) {
      font-size: 42px;
    }

    @include minWidth(1600px) {
      font-size: 47px;
    }
  }
}

#section2 {
  .vid-container {
    @include placement(560, 315);
  }

  iframe {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
  }
}

#section3 {
  background-color: #d0d0d2;
  @include placement(376, 679);

  @include min-yatayTablet {
    @include placement(1920, 1055);
  }

  .info {
    padding : 40px 24px 16px;
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
    z-index : 10;

    @include min-yatayTablet {
      left : 50%;
      width: 50%;
    }

    @include minWidth(1200px) {
      left : 50%;
      width: 48%;
    }

    @include minWidth(1600px) {
      left : 50%;
      width: calc((665 / 1920) * 100%);
    }
  }

  .footage {
    position: absolute;
    bottom  : 0;
    left    : 0;
    width   : 100%;

    @include min-yatayTablet {
      bottom: 50px;
    }

    @include minWidth(1200px) {
      bottom: 76px;
    }

    @include minWidth(1600px) {
      bottom: 101px;
    }

    p {
      margin     : 0 24px 16px;
      padding    : 8px;
      background : rgba(103, 68, 89, 0.75);
      line-height: 11px;
      @include fontSettings(10px, 400, #fff);

      @include min-yatayTablet {
        background : transparent;
        color      : #71616D;
        padding    : 0;
        margin     : 0;
        font-size  : 14px;
        line-height: 18px;
      }

      @include minWidth(1200px) {
        font-size  : 16px;
        line-height: 19px;
      }

      @include minWidth(1600px) {
        font-size  : 18px;
        line-height: 20px;
      }
    }
  }

  h2 {
    font-family: IvyPresto Display;
    line-height: 38px;
    @include fontSettings(32px, 400, #6A4B64);

    @include min-yatayTablet {
      font-size  : 23px;
      line-height: 30px;
    }

    @include minWidth(1200px) {
      font-size  : 46px;
      line-height: 58px;
    }

    @include minWidth(1600px) {
      font-size  : 72px;
      line-height: 86px;
    }

    span {
      display: none;
    }
  }

  ul {
    padding        : 0;
    list-style-type: none;
  }

  li {
    padding-left : 24px;
    background   : url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7.33335L8 9.33335L14.6667 2.66669' stroke='%237E6B7A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 8V12.6667C14 13.0203 13.8595 13.3594 13.6095 13.6095C13.3594 13.8595 13.0203 14 12.6667 14H3.33333C2.97971 14 2.64057 13.8595 2.39052 13.6095C2.14048 13.3594 2 13.0203 2 12.6667V3.33333C2 2.97971 2.14048 2.64057 2.39052 2.39052C2.64057 2.14048 2.97971 2 3.33333 2H10.6667' stroke='%237E6B7A' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat left 2px;
    line-height  : 19px;
    margin-bottom: 16px;
    @include fontSettings(14px, 400, #71616D);

    @include min-yatayTablet {
      padding-left   : 25px;
      font-size      : 14px;
      line-height    : 20px;
      margin-bottom  : 7px;
      background-size: 16px;
    }

    @include minWidth(1200px) {
      padding-left   : 38px;
      font-size      : 21px;
      line-height    : 25px;
      margin-bottom  : 17px;
      background-size: 23px;
    }

    @include minWidth(1600px) {
      padding-left   : 51px;
      font-size      : 28px;
      line-height    : 31px;
      margin-bottom  : 27px;
      background-size: 30px;
    }
  }
}

#section4 {
  background-color: #6A4B64;
  padding         : 40px 24px 26px;

  #ingrds {
    @include min-yatayTablet {
      max-width      : 1363px;
      margin         : auto;
      display        : flex;
      justify-content: space-between;
      align-items    : center;
    }
  }

  h2 {
    font-family: IvyPresto Display;
    line-height: 38px;
    margin     : 0 0 28px;
    @include fontSettings(32px, 400, #fff);

    @include min-yatayTablet {
      font-size: 42px;
    }

    @include minWidth(1200px) {
      font-size: 57px;
    }

    @include minWidth(1600px) {
      font-size: 72px;
    }
  }

  span {
    display: none;
  }

  #info {
    display        : flex;
    justify-content: space-evenly;
    align-items    : flex-start;

    @include min-yatayTablet {
      min-width: 60%;
    }
  }

  .info-col {
    max-width : 33%;
    padding   : 0 12px;
    text-align: center;
  }

  img {
    width    : 100%;
    max-width: 201px;
    height   : auto;
    margin   : 0 auto 24px;

    @include min-yatayTablet {
      max-width: 100px;
    }

    @include minWidth(1200px) {
      max-width: 151px;
    }

    @include minWidth(1600px) {
      max-width: 201px;
    }
  }

  p {
    color: #fff;

    &.perc {
      font-weight  : 600;
      font-size    : 24px;
      line-height  : 1;
      margin-bottom: 14px;

      @include min-yatayTablet {
        font-size    : 25px;
        margin-bottom: 10px;
      }

      @include minWidth(1200px) {
        font-size    : 32px;
        margin-bottom: 13px;
      }

      @include minWidth(1600px) {
        font-size    : 40px;
        margin-bottom: 17px;
      }
    }

    &.ing {
      font-weight  : 400;
      font-size    : 14px;
      line-height  : 16px;
      margin-bottom: 0;

      @include min-yatayTablet {
        font-size: 20px;
      }

      @include minWidth(1600px) {
        font-size: 22px;
      }
    }
  }
}

#section5 {
  background-color: #D8CBD6;

  .text {
    @include min-yatayTablet {
      float          : right;
      width          : 50%;
      height         : 92vh;
      display        : flex;
      flex-direction : column;
      justify-content: space-evenly;
      align-items    : flex-start;
    }

    @include minWidth(1200px) {
      height: 70vh;
    }

    @include minWidth(1360px) {
      height: 90vh;
    }

    @include minWidth(1600px) {
      height: 100vh;
    }
  }

  h2 {
    font-family  : IvyPresto Display;
    line-height  : 1;
    margin-bottom: 24px;
    padding      : 40px 29px 0;
    @include fontSettings(32px, 400, #674459);

    @include min-yatayTablet {
      padding      : 0 75px 0;
      margin-bottom: 0;
      font-size    : 32px;
    }

    @include minWidth(1200px) {
      font-size: 52px;
    }

    @include minWidth(1600px) {
      font-size: 72px;
    }
  }

  span {
    display: none;
  }

  ol {
    counter-reset: li;
    padding-right: 29px;
    padding-left : 29px;
    margin-bottom: 30px;

    @include min-yatayTablet {
      margin-bottom: 0;
      padding-right: 75px;
      padding-left : 75px;
    }

    li {
      list-style-type: none;
      clear          : both;
      position       : relative;
      padding-left   : 17px;
      margin-bottom  : 16px;

      @include min-yatayTablet {
        padding-left : 23px;
        font-size    : 22px;
        line-height  : 24px;
        margin-bottom: 20px;
      }

      @include minWidth(1200px) {
        padding-left : 33px;
        font-size    : 25px;
        line-height  : 28px;
        margin-bottom: 30px;
      }

      @include minWidth(1600px) {
        padding-left : 43px;
        font-size    : 28px;
        line-height  : 31px;
        margin-bottom: 40px;
      }

      &:before {
        display          : block;
        content          : counter(li);
        counter-increment: li;
        position         : absolute;
        top              : 0;
        left             : 0;
        @include fontSettings(16px, 600, #674459);

        @include min-yatayTablet {
          font-size: 22px;
        }

        @include minWidth(1200px) {
          font-size: 27px;
        }

        @include minWidth(1600px) {
          font-size: 32px;
        }
      }
    }
  }

  img {
    @include min-yatayTablet {
      float: left;
      width: 50%;
    }
  }
}

#section6 {
  position: relative;
  @include placement(375, 614);

  @include min-yatayTablet {
    @include placement(1920, 1044);
  }

  &>div {
    position: absolute;
  }

  div {
    &.shop-text {
      position: absolute;
      top     : 0;
      left    : 0;
      width   : 100%;
      height  : 100%;
      padding : 20px 24px 0;

      @include min-yatayTablet {
        width          : 50%;
        height         : 100vh;
        padding        : 0;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
      }

      @include minWidth(1200px) {
        height: 70vh;
      }

      @include minWidth(1360px) {
        height: 100vh;
      }
    }

    &.cta-container {
      position: absolute;
      bottom  : 158px;
      left    : 24px;
      width   : 170px;

      @include min-yatayTablet {
        width    : 100%;
        max-width: 424px;
        margin   : 10px auto 0;
        position : relative;
        left     : auto;
        bottom   : auto;
      }

      @include minWidth(1200px) {
        max-width: 494px;
        margin   : 30px auto 0;
      }

      @include minWidth(1600px) {
        max-width: 564px;
        margin   : 50px auto 0;
      }
    }
  }

  h2 {
    font-family  : IvyPresto Display;
    line-height  : 1;
    font-style   : italic;
    margin-bottom: 8px;
    @include fontSettings(32px, 400, #674459);

    @include min-yatayTablet {
      font-size : 52px;
      margin    : 0 auto 10px;
      width     : 70%;
      position  : relative;
      text-align: center;

      &:before,
      &:after {
        display         : block;
        content         : '';
        width           : 30%;
        height          : 1px;
        background-color: #674459;
        @include center('vertical');
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }

    @include minWidth(1200px) {
      font-size: 62px;
      margin   : 0 auto 20px;
    }

    @include minWidth(1600px) {
      font-size: 72px;
      margin   : 0 auto 30px;
    }

    span {
      display: none;
    }
  }

  p {
    line-height: 150%;
    @include fontSettings(14px, 400, #674459);

    @include min-yatayTablet {
      font-size: 18px;
      max-width: 395px;
    }

    @include minWidth(1200px) {
      font-size: 23px;
      max-width: 485px;
    }

    @include minWidth(1600px) {
      font-size: 28px;
      max-width: 564px;
    }

    &.h2 {
      font-family: IvyPresto Display;
      max-width  : 270px;
      line-height: 29px;
      @include fontSettings(24px, 400, #674459);

      @include min-yatayTablet {
        font-size    : 35px;
        line-height  : 43px;
        margin-bottom: 20px;
        text-align   : center;
        max-width    : 480px;
      }

      @include minWidth(1200px) {
        font-size    : 41px;
        line-height  : 50px;
        margin-bottom: 35px
      }

      @include minWidth(1600px) {
        font-size    : 48px;
        line-height  : 58px;
        margin-bottom: 50px
      }
    }

    &.price {
      font-family: IvyPresto Display;
      float      : left;
      display    : flex;

      @include min-yatayTablet {
        width          : 154px;
        display        : flex;
        justify-content: center;
        align-items    : flex-start;
      }

      small {
        margin-right: 3px;
        line-height : 1;
        @include fontSettings(12px, 400, #674459);

        @include min-yatayTablet {
          font-size: 23px;
        }

        @include minWidth(1200px) {
          font-size: 25px;
        }

        @include minWidth(1600px) {
          font-size: 28px;
        }
      }

      .val {
        @include fontSettings(34px, 400, #674459);

        @include min-yatayTablet {
          font-size: 38px;
        }

        @include minWidth(1200px) {
          font-size: 43px;
        }

        @include minWidth(1600px) {
          font-size: 48px;
        }
      }
    }

    &.price-text {
      float      : right;
      height     : 25px;
      line-height: 25px;
      position   : relative;
      width      : 125px;
      text-align : center;
      @include fontSettings(10px, 400, #674459);

      @include min-yatayTablet {
        float    : left;
        clear    : both;
        width    : 164px;
        font-size: 16px;
      }

      &:before,
      &:after {
        display   : block;
        content   : '';
        width     : 100%;
        height    : 1px;
        position  : absolute;
        left      : 0;
        background: -moz-linear-gradient(left, rgba(103, 68, 89, 0) 0%, rgba(103, 68, 89, 1) 50%, rgba(103, 68, 89, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(103, 68, 89, 0) 0%, rgba(103, 68, 89, 1) 50%, rgba(103, 68, 89, 0) 100%);
        background: linear-gradient(to right, rgba(103, 68, 89, 0) 0%, rgba(103, 68, 89, 1) 50%, rgba(103, 68, 89, 0) 100%);
        filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#00674459', endColorstr='#00674459', GradientType=1);
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }
    }
  }

  a {
    &.cta {
      display        : block;
      border         : solid 1px #674459;
      color          : #674459;
      width          : 100%;
      height         : 48px;
      line-height    : 48px;
      clear          : both;
      text-align     : center;
      text-decoration: none;

      @include min-yatayTablet {
        float           : right;
        clear           : none;
        background-color: #674459;
        font-size       : 24px;
        font-weight     : 500;
        color           : #fff;
        width           : 40%;
        height          : 61px;
        line-height     : 61px;
        margin-top      : -34px;
      }

      @include minWidth(1200px) {
        width      : 50%;
        height     : 81px;
        line-height: 81px;
        margin-top : -49px;
      }

      @include minWidth(1600px) {
        width      : 60%;
        height     : 101px;
        line-height: 101px;
        margin-top : -64px;
      }
    }
  }
}

#frmFooter {
  background-color: #fff;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  color           : #674459;
  padding         : 20px 0;
  clear           : both;

  @include min-yatayTablet {
    padding: 40px 0;
  }

  @include minWidth(1200px) {
    padding: 80px 0;
  }

  @include minWidth(1600px) {
    padding: 100px 0;
  }

  img {
    margin-bottom: 15px;
    width        : 100%;
    max-width    : 30px;
    height       : auto;

    @include min-yatayTablet {
      max-width: 20px;

      &.instagram {
        margin: 0 27px;
      }
    }

    @include minWidth(1200px) {
      max-width: 40px;

      &.instagram {
        margin: 0 37px;
      }
    }

    @include minWidth(1600px) {
      max-width: 70px;

      &.instagram {
        margin: 0 47px;
      }
    }
  }

  ul {
    margin : 0 0 15px 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    display        : inline-block;
  }

  a {
    color  : #fff;
    padding: 0 4px;
    display: flex;
  }

  p {
    margin: 0;
  }
}

picture {
  display: block;
  width  : 100%;

  img {
    width : 100%;
    height: auto;
  }
}