html,
body {
  scroll-behavior: smooth;
}

/* media queries */
/*
 Usage
 .menu li {
   @include relative;
 }

.sub-menu {
  @include absolute(top 100% left 0);
}

.sticky-bar {
  @include fixed(top 0 left 0);
}
*/
.input-number.input-number-editable::-webkit-outer-spin-button,
.input-number.input-number-editable::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin: 0;
}

.input-number.input-number-editable {
  -moz-appearance: textfield;
}

/* Adobe Fonts */
h1 {
  font-family: ivypresto-display, serif;
  font-weight: 100;
  font-style: normal;
  position: relative;
  position: relative;
  margin: 0 0 30px;
  line-height: 38.4px;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
}

@media (min-width: 992px) {
  h1 {
    font-size: 42px;
    line-height: 46.4px;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 57px;
    line-height: 66.4px;
  }
}

@media screen and (min-width: 1600px) {
  h1 {
    font-size: 72px;
    line-height: 86.4px;
  }
}

/* /Adobe Fonts */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

p,
li {
  font-size: 14px;
  font-weight: 400;
  color: #674459;
}

@media (min-width: 768px) {
  p,
  li {
    font-size: 24px;
    font-weight: 300;
  }
}

@media screen and (min-width: 1200px) {
  p,
  li {
    font-size: 38px;
  }
}

*::-moz-selection {
  color: #fff;
  background: #674459;
}

*::selection {
  color: #fff;
  background: #674459;
}

#frmtHead {
  background: #BD9FB1;
  background: -webkit-gradient(linear, left top, left bottom, from(#BD9FB1), to(rgba(189, 159, 177, 0)));
  background: linear-gradient(to bottom, #BD9FB1 0%, rgba(189, 159, 177, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start-color', endColorstr='$end-color', GradientType=0);
  padding: 8px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

#lang-wrapper {
  position: relative;
  height: 100%;
}

#lang-wrapper ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  -webkit-transition: height 350ms ease-in-out;
  transition: height 350ms ease-in-out;
}

#lang-wrapper ul:hover, #lang-wrapper ul:focus {
  height: 80px;
}

#lang-wrapper li {
  list-style-type: none;
  padding: 8px 4px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  #lang-wrapper li {
    font-size: 16px;
  }
}

#lang-wrapper a {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  #lang-wrapper a {
    font-size: 16px;
  }
}

#menu-btn {
  padding-top: 8px;
  display: inline-block;
  border: none;
  background: transparent;
  cursor: pointer;
}

#menu-btn:focus, #menu-btn:active {
  outline: none;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  z-index: 150;
  background-color: #674459;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

#menu.active {
  width: 100%;
}

#menu ul {
  margin: 0;
}

#menu li {
  list-style-type: none;
}

#menu a {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

@media screen and (min-width: 768px) {
  #menu a {
    font-size: 48px;
  }
}

#menu .close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
}

#menu .close-menu:focus, #menu .close-menu:active {
  outline: none;
}

.jarallax-img img {
  width: 100%;
  height: auto;
}

#section1 {
  position: relative;
  padding-top: calc((622 / 375) * 100%);
  position: relative;
}

@media (min-width: 992px) {
  #section1 {
    padding-top: calc((1128 / 1920) * 100%);
    position: relative;
  }
}

#section1 .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#section1 .sub-header {
  position: absolute;
  bottom: 28px;
  left: 0;
  width: 100%;
}

@media (min-width: 992px) {
  #section1 .sub-header {
    left: calc((50/1920) * 100%);
    bottom: calc((310/1128) * 100%);
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  #section1 .sub-header {
    left: calc((125/1920) * 100%);
  }
}

@media screen and (min-width: 1600px) {
  #section1 .sub-header {
    left: calc((200/1920) * 100%);
  }
}

#section1 h1 {
  color: #fff;
  margin-top: 68px;
  z-index: 10;
}

@media (min-width: 992px) {
  #section1 h1 {
    margin-top: 80px;
  }
}

@media screen and (min-width: 1200px) {
  #section1 h1 {
    margin-top: 105px;
  }
}

@media screen and (min-width: 1600px) {
  #section1 h1 {
    margin-top: 130px;
  }
}

#section1 h1:after {
  background-color: #fff;
}

#section1 p.h2 {
  z-index: 10;
  font-family: ivypresto-display, serif;
  max-width: 296px;
  margin: 0 auto 12px;
  height: 38px;
  line-height: 38px;
  position: relative;
  font-style: italic;
  font-size: 32px;
  font-weight: 400;
  color: #674459;
}

@media (min-width: 992px) {
  #section1 p.h2 {
    max-width: 250px;
    font-size: 42px;
  }
}

@media screen and (min-width: 1200px) {
  #section1 p.h2 {
    max-width: 325px;
    font-size: 57px;
  }
}

@media screen and (min-width: 1600px) {
  #section1 p.h2 {
    max-width: 400px;
    font-size: 72px;
  }
}

#section1 p.h2:before, #section1 p.h2:after {
  display: block;
  content: "";
  width: 34.5%;
  height: 1px;
  position: absolute;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 992px) {
  #section1 p.h2:before, #section1 p.h2:after {
    width: 28%;
  }
}

#section1 p.h2:before {
  left: 0;
  background: rgba(103, 68, 89, 0);
  background: -webkit-gradient(linear, left top, right top, from(rgba(103, 68, 89, 0)), to(#674459));
  background: linear-gradient(to right, rgba(103, 68, 89, 0) 0%, #674459 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start-color', endColorstr='$end-color', GradientType=1);
}

#section1 p.h2:after {
  right: 0;
  background: #674459;
  background: -webkit-gradient(linear, left top, right top, from(#674459), to(rgba(103, 68, 89, 0)));
  background: linear-gradient(to right, #674459 0%, rgba(103, 68, 89, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start-color', endColorstr='$end-color', GradientType=1);
}

#section1 h2 {
  z-index: 10;
  margin: 0;
  line-height: 1;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
  color: #674459;
}

@media (min-width: 992px) {
  #section1 h2 {
    font-size: 37px;
  }
}

@media screen and (min-width: 1200px) {
  #section1 h2 {
    font-size: 42px;
  }
}

@media screen and (min-width: 1600px) {
  #section1 h2 {
    font-size: 47px;
  }
}

#section2 .vid-container {
  padding-top: calc((315 / 560) * 100%);
  position: relative;
}

#section2 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#section3 {
  background-color: #d0d0d2;
  padding-top: calc((679 / 376) * 100%);
  position: relative;
}

@media (min-width: 992px) {
  #section3 {
    padding-top: calc((1055 / 1920) * 100%);
    position: relative;
  }
}

#section3 .info {
  padding: 40px 24px 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

@media (min-width: 992px) {
  #section3 .info {
    left: 50%;
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  #section3 .info {
    left: 50%;
    width: 40%;
  }
}

@media screen and (min-width: 1600px) {
  #section3 .info {
    left: 50%;
    width: calc((665 / 1920) * 100%);
  }
}

#section3 .footage {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media (min-width: 992px) {
  #section3 .footage {
    bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  #section3 .footage {
    bottom: 76px;
  }
}

@media screen and (min-width: 1600px) {
  #section3 .footage {
    bottom: 101px;
  }
}

#section3 .footage p {
  margin: 0 24px 16px;
  padding: 8px;
  background: rgba(103, 68, 89, 0.75);
  line-height: 11px;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
}

@media (min-width: 992px) {
  #section3 .footage p {
    background: transparent;
    color: #71616D;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (min-width: 1200px) {
  #section3 .footage p {
    font-size: 16px;
    line-height: 19px;
  }
}

@media screen and (min-width: 1600px) {
  #section3 .footage p {
    font-size: 18px;
    line-height: 20px;
  }
}

#section3 h2 {
  font-family: IvyPresto Display;
  line-height: 38px;
  font-size: 32px;
  font-weight: 400;
  color: #6A4B64;
}

@media (min-width: 992px) {
  #section3 h2 {
    font-size: 23px;
    line-height: 30px;
  }
}

@media screen and (min-width: 1200px) {
  #section3 h2 {
    font-size: 46px;
    line-height: 58px;
  }
}

@media screen and (min-width: 1600px) {
  #section3 h2 {
    font-size: 72px;
    line-height: 86px;
  }
}

#section3 h2 span {
  display: none;
}

#section3 ul {
  padding: 0;
  list-style-type: none;
}

#section3 li {
  padding-left: 24px;
  background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7.33335L8 9.33335L14.6667 2.66669' stroke='%237E6B7A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 8V12.6667C14 13.0203 13.8595 13.3594 13.6095 13.6095C13.3594 13.8595 13.0203 14 12.6667 14H3.33333C2.97971 14 2.64057 13.8595 2.39052 13.6095C2.14048 13.3594 2 13.0203 2 12.6667V3.33333C2 2.97971 2.14048 2.64057 2.39052 2.39052C2.64057 2.14048 2.97971 2 3.33333 2H10.6667' stroke='%237E6B7A' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat left 2px;
  line-height: 19px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  color: #71616D;
}

@media (min-width: 992px) {
  #section3 li {
    padding-left: 25px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 7px;
    background-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  #section3 li {
    padding-left: 38px;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 17px;
    background-size: 23px;
  }
}

@media screen and (min-width: 1600px) {
  #section3 li {
    padding-left: 51px;
    font-size: 28px;
    line-height: 31px;
    margin-bottom: 27px;
    background-size: 30px;
  }
}

#section4 {
  background-color: #6A4B64;
  padding: 40px 24px 26px;
}

@media (min-width: 992px) {
  #section4 #ingrds {
    max-width: 1363px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#section4 h2 {
  font-family: IvyPresto Display;
  line-height: 38px;
  margin: 0 0 28px;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
}

@media (min-width: 992px) {
  #section4 h2 {
    font-size: 42px;
  }
}

@media screen and (min-width: 1200px) {
  #section4 h2 {
    font-size: 57px;
  }
}

@media screen and (min-width: 1600px) {
  #section4 h2 {
    font-size: 72px;
  }
}

#section4 span {
  display: none;
}

#section4 #info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 992px) {
  #section4 #info {
    min-width: 60%;
  }
}

#section4 .info-col {
  max-width: 33%;
  padding: 0 16px;
  text-align: center;
}

#section4 img {
  width: 100%;
  max-width: 201px;
  height: auto;
  margin: 0 auto 24px;
}

@media (min-width: 992px) {
  #section4 img {
    max-width: 100px;
  }
}

@media screen and (min-width: 1200px) {
  #section4 img {
    max-width: 151px;
  }
}

@media screen and (min-width: 1600px) {
  #section4 img {
    max-width: 201px;
  }
}

#section4 p {
  color: #fff;
}

#section4 p.perc {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 14px;
}

@media (min-width: 992px) {
  #section4 p.perc {
    font-size: 25px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  #section4 p.perc {
    font-size: 32px;
    margin-bottom: 13px;
  }
}

@media screen and (min-width: 1600px) {
  #section4 p.perc {
    font-size: 40px;
    margin-bottom: 17px;
  }
}

#section4 p.ing {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 0;
}

@media (min-width: 992px) {
  #section4 p.ing {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  #section4 p.ing {
    font-size: 28px;
  }
}

@media screen and (min-width: 1600px) {
  #section4 p.ing {
    font-size: 32px;
  }
}

#section5 {
  background-color: #D8CBD6;
}

@media (min-width: 992px) {
  #section5 .text {
    float: right;
    width: 50%;
    height: 92vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  #section5 .text {
    height: 70vh;
  }
}

@media screen and (min-width: 1360px) {
  #section5 .text {
    height: 90vh;
  }
}

@media screen and (min-width: 1600px) {
  #section5 .text {
    height: 100vh;
  }
}

#section5 h2 {
  font-family: IvyPresto Display;
  line-height: 1;
  margin-bottom: 24px;
  padding: 40px 29px 0;
  font-size: 32px;
  font-weight: 400;
  color: #674459;
}

@media (min-width: 992px) {
  #section5 h2 {
    padding: 0 75px 0;
    margin-bottom: 0;
    font-size: 32px;
  }
}

@media screen and (min-width: 1200px) {
  #section5 h2 {
    font-size: 52px;
  }
}

@media screen and (min-width: 1600px) {
  #section5 h2 {
    font-size: 72px;
  }
}

#section5 span {
  display: none;
}

#section5 ol {
  counter-reset: li;
  padding-right: 29px;
  padding-left: 29px;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  #section5 ol {
    margin-bottom: 0;
    padding-right: 75px;
    padding-left: 75px;
  }
}

#section5 ol li {
  list-style-type: none;
  clear: both;
  position: relative;
  padding-left: 17px;
  margin-bottom: 16px;
}

@media (min-width: 992px) {
  #section5 ol li {
    padding-left: 23px;
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  #section5 ol li {
    padding-left: 33px;
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1600px) {
  #section5 ol li {
    padding-left: 43px;
    font-size: 28px;
    line-height: 31px;
    margin-bottom: 40px;
  }
}

#section5 ol li:before {
  display: block;
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-weight: 600;
  color: #674459;
}

@media (min-width: 992px) {
  #section5 ol li:before {
    font-size: 22px;
  }
}

@media screen and (min-width: 1200px) {
  #section5 ol li:before {
    font-size: 27px;
  }
}

@media screen and (min-width: 1600px) {
  #section5 ol li:before {
    font-size: 32px;
  }
}

@media (min-width: 992px) {
  #section5 img {
    float: left;
    width: 50%;
  }
}

#section6 {
  position: relative;
  padding-top: calc((614 / 375) * 100%);
  position: relative;
}

@media (min-width: 992px) {
  #section6 {
    padding-top: calc((1044 / 1920) * 100%);
    position: relative;
  }
}

#section6 > div {
  position: absolute;
}

#section6 div.shop-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 24px 0;
}

@media (min-width: 992px) {
  #section6 div.shop-text {
    width: 50%;
    height: 100vh;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  #section6 div.shop-text {
    height: 70vh;
  }
}

@media screen and (min-width: 1360px) {
  #section6 div.shop-text {
    height: 100vh;
  }
}

#section6 div.cta-container {
  position: absolute;
  bottom: 158px;
  left: 24px;
  width: 148px;
}

@media (min-width: 992px) {
  #section6 div.cta-container {
    width: 100%;
    max-width: 424px;
    margin: 10px auto 0;
    position: relative;
    left: auto;
    bottom: auto;
  }
}

@media screen and (min-width: 1200px) {
  #section6 div.cta-container {
    max-width: 494px;
    margin: 30px auto 0;
  }
}

@media screen and (min-width: 1600px) {
  #section6 div.cta-container {
    max-width: 564px;
    margin: 50px auto 0;
  }
}

#section6 h2 {
  font-family: IvyPresto Display;
  line-height: 1;
  font-style: italic;
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: 400;
  color: #674459;
}

@media (min-width: 992px) {
  #section6 h2 {
    font-size: 52px;
    margin: 0 auto 10px;
    width: 70%;
    position: relative;
    text-align: center;
  }
  #section6 h2:before, #section6 h2:after {
    display: block;
    content: '';
    width: 30%;
    height: 1px;
    background-color: #674459;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  #section6 h2:before {
    left: 0;
  }
  #section6 h2:after {
    right: 0;
  }
}

@media screen and (min-width: 1200px) {
  #section6 h2 {
    font-size: 62px;
    margin: 0 auto 20px;
  }
}

@media screen and (min-width: 1600px) {
  #section6 h2 {
    font-size: 72px;
    margin: 0 auto 30px;
  }
}

#section6 h2 span {
  display: none;
}

#section6 p {
  line-height: 150%;
  font-size: 14px;
  font-weight: 400;
  color: #674459;
}

@media (min-width: 992px) {
  #section6 p {
    font-size: 18px;
    max-width: 395px;
  }
}

@media screen and (min-width: 1200px) {
  #section6 p {
    font-size: 23px;
    max-width: 485px;
  }
}

@media screen and (min-width: 1600px) {
  #section6 p {
    font-size: 28px;
    max-width: 564px;
  }
}

#section6 p.h2 {
  font-family: IvyPresto Display;
  max-width: 270px;
  line-height: 29px;
  font-size: 24px;
  font-weight: 400;
  color: #674459;
}

@media (min-width: 992px) {
  #section6 p.h2 {
    font-size: 35px;
    line-height: 43px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 480px;
  }
}

@media screen and (min-width: 1200px) {
  #section6 p.h2 {
    font-size: 41px;
    line-height: 50px;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1600px) {
  #section6 p.h2 {
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 50px;
  }
}

#section6 p.price {
  font-family: IvyPresto Display;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 992px) {
  #section6 p.price {
    width: 154px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

#section6 p.price small {
  margin-right: 3px;
  line-height: 1;
  font-size: 12px;
  font-weight: 400;
  color: #674459;
}

@media (min-width: 992px) {
  #section6 p.price small {
    font-size: 23px;
  }
}

@media screen and (min-width: 1200px) {
  #section6 p.price small {
    font-size: 25px;
  }
}

@media screen and (min-width: 1600px) {
  #section6 p.price small {
    font-size: 28px;
  }
}

#section6 p.price .val {
  font-size: 34px;
  font-weight: 400;
  color: #674459;
}

@media (min-width: 992px) {
  #section6 p.price .val {
    font-size: 38px;
  }
}

@media screen and (min-width: 1200px) {
  #section6 p.price .val {
    font-size: 43px;
  }
}

@media screen and (min-width: 1600px) {
  #section6 p.price .val {
    font-size: 48px;
  }
}

#section6 p.price-text {
  float: right;
  height: 27px;
  line-height: 27px;
  position: relative;
  width: 95px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #674459;
}

@media (min-width: 992px) {
  #section6 p.price-text {
    float: left;
    clear: both;
    width: 154px;
    font-size: 16px;
  }
}

#section6 p.price-text:before, #section6 p.price-text:after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(103, 68, 89, 0)), color-stop(50%, #674459), to(rgba(103, 68, 89, 0)));
  background: linear-gradient(to right, rgba(103, 68, 89, 0) 0%, #674459 50%, rgba(103, 68, 89, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00674459', endColorstr='#00674459', GradientType=1);
}

#section6 p.price-text:before {
  top: 0;
}

#section6 p.price-text:after {
  bottom: 0;
}

#section6 a.cta {
  display: block;
  border: solid 1px #674459;
  color: #674459;
  width: 100%;
  height: 48px;
  line-height: 48px;
  clear: both;
  text-align: center;
  text-decoration: none;
}

@media (min-width: 992px) {
  #section6 a.cta {
    float: right;
    clear: none;
    background-color: #674459;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    width: 40%;
    height: 61px;
    line-height: 61px;
    margin-top: -34px;
  }
}

@media screen and (min-width: 1200px) {
  #section6 a.cta {
    width: 50%;
    height: 81px;
    line-height: 81px;
    margin-top: -49px;
  }
}

@media screen and (min-width: 1600px) {
  #section6 a.cta {
    width: 60%;
    height: 101px;
    line-height: 101px;
    margin-top: -64px;
  }
}

#frmFooter {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #674459;
  padding: 20px 0;
  clear: both;
}

@media (min-width: 992px) {
  #frmFooter {
    padding: 40px 0;
  }
}

@media screen and (min-width: 1200px) {
  #frmFooter {
    padding: 80px 0;
  }
}

@media screen and (min-width: 1600px) {
  #frmFooter {
    padding: 100px 0;
  }
}

#frmFooter img {
  margin-bottom: 15px;
  width: 100%;
  max-width: 30px;
  height: auto;
}

@media (min-width: 992px) {
  #frmFooter img {
    max-width: 20px;
  }
  #frmFooter img.instagram {
    margin: 0 27px;
  }
}

@media screen and (min-width: 1200px) {
  #frmFooter img {
    max-width: 40px;
  }
  #frmFooter img.instagram {
    margin: 0 37px;
  }
}

@media screen and (min-width: 1600px) {
  #frmFooter img {
    max-width: 70px;
  }
  #frmFooter img.instagram {
    margin: 0 47px;
  }
}

#frmFooter ul {
  margin: 0 0 15px 0;
  padding: 0;
}

#frmFooter li {
  list-style-type: none;
  display: inline-block;
}

#frmFooter a {
  color: #fff;
  padding: 0 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#frmFooter p {
  margin: 0;
}

picture {
  display: block;
  width: 100%;
}

picture img {
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=site.css.map */